
#background {
  margin: 10px;
  border-radius: 10px;
  border: 2px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategrey;
}



h1 {
  color: ivory;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px;

}

.header {
  width: 100vw;
}

img {
  border-radius: 20px;
  border: 2px solid ivory;
  height: 200px;
  box-shadow: 1px 1px 5px ivory;
  transition: border 0.2s;
}

img:hover {
  border: 4px solid ivory;
}

#head {
  width: 100%;
  margin: 0;
}

h2 {
  text-align: center;
  color: ivory;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 10px;
}

.section {
width: 100%
}

.projects {
  border: 1px solid ivory;
  border-radius: 5px;
}

.img-modal {
  height: 1rem;
}

#capstone {
  width: 98%;
}

.project-box {
  box-shadow: 2px 1px 10px ivory;
}


